body {
  margin: 20px;
  padding: 0px;
}

#instructions {
  margin-bottom: 20px;
}

#instruction-checks {
  width: 700px ;
  margin-left: auto ;
  margin-right: auto ;
}

#sliderStuff {
  text-align: center;
  display: none;
}

#slider {
  width: 400px;
  margin: auto;
}

#imageSpace {
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

#buttons {
  text-align: center;
}

.text {
  width: 700px ;
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;
}
